<h1>Food section</h1>

<table>
  <thead>
    <tr>
      <th>Food</th>
      <th>Measurement Unit</th>
      <th>Unit Price</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
  <% @foods.each do |food| %>
    <%= form_with model: @food, url: user_foods_path do |f| %> 
      <tr>
        <td><%= food.name %></td>
        <td><%= food.measurement_unit %></td>
        <td><%= food.price %></td>
      </tr>
    <% end %>
  </tbody>
</table>
